:root {
    --back: rgb(233, 184, 192);
    --red: rgb(194, 26, 26);
}

body {
    background-color: var(--back);
    font-family: Arial, Helvetica, sans-serif
}

.container-fluid .navbar-brand {
    color: var(--red);
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar {
    font-weight: 100;
    font-size: 1rem;
    z-index: 2;
    transition: background-color 0.5s;
}

.navbar.scrolled {
    background-color: rgb(216, 177, 216);

}

.navbar .nav-item:hover>.nav-link {
    color: var(--red);
}

.navbar .nav-link {
    color: white;
}

.c2p {
    font-weight: 100;
    color: #ffe7ea;
    line-height: 2;
}

#mocc2heading {
    color: var(--red);
    font-weight: bold;
}

.content {
    margin-top: 100px;
}

@media (max-width:750px) {
    .content {
        margin-top: 0;
    }

    .content p {
        padding-bottom: 20px;
    }
}

#mocheading {
    font-weight: 100;
    font-size: 3rem;
}

#mocheading span {
    color: var(--red)
}

@media (max-width:1200px) {
    #mocheading {
        font-size: 2rem;
    }

}